Source: ros-galactic-boost-geometry-util
Section: misc
Priority: optional
Maintainer: masaya <ms.kataoka@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-galactic-ament-cmake, ros-galactic-ament-cmake-auto, ros-galactic-ament-lint-auto <!nocheck>, ros-galactic-geometry-msgs, ros-galactic-ouxt-common <!nocheck>, ros-galactic-rclcpp, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-boost-geometry-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-galactic-geometry-msgs, ros-galactic-rclcpp, ros-galactic-ros-workspace
Description: Utility library for boost geometry
